body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    background-color: rgb(36,52,71);
    color: rgb(218, 79, 79);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    border: 1px solid red;
    color: rgb(214, 166, 10);
    font-size: 70px;
    justify-self: start;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 40px 50px 40px;
    text-align: center;
    font-family: helvetica;
    font-weight: 850;
}

.choice-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

.rock, .paper, .scissors{
    margin: 10px;
    border: 6px solid rgb(223, 105, 51);
    border-radius: 6px;
}

.win-text {
    border: 1px solid red;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    text-align: center;
}

.score {
    border: 1px solid red;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    text-align: center;
}